/* Основной блок */
.basic_block {
    font-size: large;
    background-color: RGB(240, 240, 240);
    border: 2px solid RGB(220, 220, 220);
    border-radius: 5px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    overflow: hidden;
}

/* Блок для вывода вопросов теста */
.block_with_margin {
    margin-left: 25px;
}

/* Левый блок заголовка страницы */
div#left_block {
    float: left;
}

/* Правый блок заголовка страницы */
div#right_block {
    float: right;
}

/* Стиль для ссылок */
a {
    color: RGB(90, 90, 90);
    text-decoration: none;
}

/* Стиль для ссылок, на которые наведен курсор */
a:hover {
    color: RGB(0, 0, 0);
    text-decoration: underline;
}

/* Стиль для отдельных элементов списка */
li {
    padding-top: 3px;
    padding-bottom: 3px;;
}

/* Стиль для ячеек таблиц вывода форм */
.label_cell{
    vertical-align: top;
}
