{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <title>WebTester</title>
</head>
<body>

{% block header %}
    <div class="basic_block">
        {# Формируем левый блок #}
        <div id="left_block">
            {% if user.is_authenticated %}
                Добро пожаловать,
                <a href="{% url 'main:statistic_page' %}">{{ user }}</a>!
            {% else %}
                <a href="{% url 'main:login' %}">Войти</a>
                или
                <a href="{% url 'main:register_user' %}">зарегистрироваться</a>
            {% endif %}
        </div>

        {# Формируем правый блок #}
        <div id="right_block">
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <a href="/admin/">Администрирование</a> |
                {% endif %}
                <a href="{% url 'main:logout' %}">Выход</a> |
            {% endif %}
            <a href="{% url 'main:find' %}">Поиск на сайте</a>
        </div>
    </div>
    <br>
{% endblock %}

{% block content %}
{% endblock %}

</body>
</html>