{% extends 'layout/basic.html' %}

{% block content %}
    <div class="basic_block">
        {% if user.is_authenticated %}
            {# Выводим форму #}
            <form method="post">
                {% csrf_token %}
                <table>
                    {% for element in form.visible_fields %}
                        <tr>
                            <td class="label_cell">
                                {{ element.label_tag }}
                            </td>
                            <td>
                                {{ element }}<br>
                                {% if element.errors %}
                                    <font color="red" size="2">
                                        {% for error in element.errors %}
                                            {{ error }}
                                            {% if not forloop.last %}<br>{% endif %}
                                        {% endfor %}
                                    </font>
                                    <br>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="Сохранить изменения">
                        </td>
                    </tr>
                </table>
            </form>
        {% else %}
            Вам нужно выполнить вход или зарегистрироваться.
            <a href="{% url 'main:index' %}">Перейти на главную страницу</a>
        {% endif %}
    </div>
{% endblock %}