{% extends 'layout/basic.html' %}

{% block content %}
    <div class="basic_block">
        <p>
            Темы:
        </p>
        <hr>
        <ul>
            {% for test_group in test_groups %}
                <li><a href="{% url 'main:test_list' test_group_id=test_group.pk %}">{{ test_group }}</a></li>
            {% empty %}
                <div class="block_with_margin">
                    Извините, но на сайт пока не добавлены темы для тестирования...
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
