{% extends 'layout/basic.html' %}

{% block content %}
    <div class="basic_block">
        {% if not user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                <table>
                    {% for element in form.visible_fields %}
                        <tr>
                            <td>
                                {{ element.label_tag }}
                            </td>
                            <td>
                                {{ element }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" name="next" value="{% url 'main:index' %}">
                            <input type="submit" value="Войти">
                        </td>
                    </tr>
                </table>
            </form>
        {% else %}
            Вы уже выполнили вход.
            <a href="{% url 'main:index' %}">Перейти на главную страницу</a>
        {% endif %}
    </div>
{% endblock %}