{% extends 'layout/basic.html' %}

{% block content %}
    <div class="basic_block">
        <p>
            <a href="{% url 'main:index' %}" title="К выбору тем">
                {{ selected_group }}
            </a>
            |
            <a href="{% url 'main:test_list' test_group_id=selected_group.pk %}">
                {{ selected_test }}
            </a>
        </p>
        <hr>
        {% for question in questions %}
            <div class="block_with_margin">
                <p>
                    {{ question }}
                </p>
            </div>
        {% empty %}
            Извините, но вопросов в данном тесте пока нет...
        {% endfor %}
    </div>
{% endblock %}