{% extends 'layout/basic.html' %}

{% block content %}
    <div class="basic_block">
        <p>
            <a href="{% url 'main:index' %}" title="К выбору тем">{{ selected_group }}</a>
        </p>
        <hr>
        {% if tests %}
            <ul>
                {% for test in tests %}
                    <li>
                        <a href="{% url 'main:test_page' test_group_id=selected_group.pk test_id=test.pk %}">
                            {{ test }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="block_with_margin">
                Извините, но тестов по данной теме на сайте нет...
            </div>
        {% endif %}
    </div>
{% endblock %}